body {
	color: black;
	margin: 0;
	font-family: 'Montserrat';
}

li {
	list-style: none;
	text-align: center;
	margin-top: 20px;

}

li img {
	max-width: 90%;
	margin-bottom: 10px;
	margin-top: 10px;

}
.title{
	margin-bottom: 1;
}

.fab {
	color: black;
}
.form-control {
	border-color: lightgrey;
	outline: none;
}
.btn {
	border-color: lightgrey;
}

.btn:hover {
	background-color: lightgrey;
}